{% extends 'base.html' %}
{% block content %}

<h1>Planner List</h1>

{% for planner in planners %}
    <a href="/planners/{{ planner.id }}"></a>
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ planner.name }}</span>
                <p>Brand: {{ planner.brand }}</p>
                <p>Description: {{ planner.description }}</p>
                {% if planner.year > 0 %}
                    <p>Year: {{ planner.year }}</p>
                {% else %}
                    <p>Year: Undated</p>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}